{{ define "main" }}
<div>
  <section class="hero has-background is-bold is-medium">
    <img class="hero-background" src="/img/aboutusheader.jpg" />
    <div class="hero-body">
      <div class="container">
        <div class="columns">
          <div class="column is-10 is-offset-1">
            <div class="section">
              <h1 class="title is-1 has-text-primary">
                {{ .Title }}
              </h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section class="section section--gradient">
    <div class="container">
      <div class="columns">
        <div class="column is-10 is-offset-1">
          <div class="section">
            <div class="content">
              {{ .Content }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
{{ end }}