{{ define "main" }}
<div>
  <section class="hero has-background is-bold is-medium">
    <img class="hero-background" src="/img/tutoringheader.jpg" />
    <div class="hero-body">
      <div class="container">
        <div class="columns">
          <div class="column is-10 is-offset-1">
            <div class="section">
              <h1 class="title is-1 has-text-primary">
                {{ .Title }}
              </h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section class="section section--gradient">
    <div class="container">
      <div class="section">
        <div class="columns">
          <div class="column is-10 is-offset-1">
            <div class="content">                  
              <div class="is-size-5">
                <div>                  
                  The CAPSA provides quality and personalized one-on-one tutoring service to K-12 students 
                  during the MCPS academic school year. Offered in person, these tutoring sessions are held 
                  once per week and cover various subject areas to address the educational and personal needs 
                  of the students. Our tutors and program leaders are trained student volunteers who are eager 
                  to help other students and give back to the community.
                </div>
                <ul>
                  <li><span class="has-text-weight-bold">Tutoring session location:</span> In person at the Robert Frost Middle School (9201 Scott Dr, Rockville, MD 20850)</li>
                  <li><span class="has-text-weight-bold">Tutoring session dates/times:</span> 10 AM to 12 PM on Saturdays (<a href="/calendar">see calendar here </a>)</li>
                  <li><span class="has-text-weight-bold">Tutoring session cost:</span> All tutoring sessions are free of charge. Yet each tutee is asked to contribute a $40 administrative fee to help cover CAPSA's operational expenses. The fee will be collected at the first tutoring session.</li>
                </ul>
                <div>Interested in becoming a tutee or tutor? Click on the button below to fill out the application form!</div>
              </div>
              <div class="mt-6 container is-fluid">
                <a class="mr-5 button is-info has-text-weight-bold is-size-4" href="{{ .Params.tutee_button_url }}">{{ .Params.tutee_button_text }}</a>
                <a class="button is-info has-text-weight-bold is-size-4" href="{{ .Params.tutor_button_url }}">{{ .Params.tutor_button_text }}</a>
              </div>
            </div>
            
            <!-- Tutoring sections -->
            <div class="content">      
              {{ with .Params.tutees }}
              <div>
                <div>
                  <h2 class="has-text-centered has-text-weight-semibold is-size-3 mt-6">
                    {{ .title }}
                  </h2>
                  <p class="has-text-weight-semibold is-size-5 mt-5">{{ .description }}</p>
                  <ul class="is-size-5">
                    {{ range .benefits }}
                    <li>{{ . }}</li>
                    {{ end }}
                  </ul>
                </div>
              </div>
              {{ end }}
              
              {{ with .Params.tutors }}
              <div>
                <div class="mt-6">
                  <h2 class="has-text-centered has-text-weight-semibold is-size-3 mt-6">
                   {{ .title }}
                  </h2>
                  <p class="has-text-weight-semibold is-size-5 mt-5">{{ .description }}</p>
                  <ul class="is-size-5">
                    {{ range .benefits }}
                    <li>{{ . }}</li>
                    {{ end }}
                  </ul>
                </div>
              </div>
              {{ end }}
              
              {{ with .Params.coordinators }}
              <div>
                <div class="mt-6">
                  <h2 class="has-text-centered has-text-weight-semibold is-size-3 mt-6">
                    {{ .title }}
                  </h2>
                  <p class="has-text-weight-semibold is-size-5 mt-5">{{ .description }}</p>
                  <ul class="is-size-5">
                    {{ range .requirements }}
                    <li>{{ . }}</li>
                    {{ end }}
                  </ul>
                </div>
              </div>
              {{ end }}
            </div>
            
            {{ .Content }}
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
{{ end }}